table {
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  margin-top: 10vh;
  max-width: 50%;
  width: 50%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: transparent;
}

tr:hover {
  background-color: transparent;
}

th:hover {
  background-color: transparent;
}

/* Large screen devices (desktops) */
@media screen and (min-width: 1000px) {
  table {
    font-size: 18px;
    margin-top: 15vh;
    background-color: black;
  }
  th,
  td {
    padding: 15px;
  }
}

@media screen and (max-width: 999px) and (min-width: 768px) {
  table {
    font-size: 14px;
    margin-top: 9vh;
    text-align: center;
  }
  th,
  td {
    padding: 5px;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  table {
    font-size: 14px;
    margin-top: 9vh;
  }
  th,
  td {
    text-align: center;
    padding: 10px;
  }
}
