@if(tableData?.length===0){

<app-no-data-fallback-text (addingTask)="onAddingComments()" />
@if(isAddingComments){
<app-add-comments (cancel)="cancelComments()" (adding)="newComment($event)" />
} } @else { @if(isAddingComments){
<app-add-comments (cancel)="cancelComments()" (adding)="newComment($event)" />
}@else {
<table>
  <thead>
    <tr>
      <th>Post ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Comment</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for(data of tableData; track data.id){
    <tr>
      <td>{{ data.postId }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.body }}</td>
      <td>
        <div class="actions">
          <app-add-comment (openModal)="onAddingComments()" />
          <app-delete
            [selectedId]="data.id"
            (deleteSelected)="onDataDelete($event)"
          />
        </div>
      </td>
    </tr>
    }
  </tbody>
</table>
} }
