img {
  color: #fff;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  max-width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}
img:hover {
  background-color: red;
}

div {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  top: 60px;
  z-index: 10;

  max-width: 100%;
  padding: 0 1rem;
}

@media screen and (max-width: 999px) and (min-width: 768px) {
  div {
    left: -50px;
  }
}

@media only screen and (max-width: 768px) {
  div {
    top: 55px;
  }
  img {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (max-width: 480px) {
  div {
    top: 35px;
  }
  img {
    width: 15px;
    height: 15px;
  }
}
